<div class="outside">
  
<input type="button" ng-click="genBot()" value="Generate a new bot"/>
<input type="button" ng-click="genGallery()" value="Generate a new gallery"/>

<div>
<h2>Gallery:</h2>
<div class="artwork" ng-bind-html="svg1"></div>
<div class="artwork" ng-bind-html="svg2"></div>
<div class="artwork" ng-bind-html="svg3"></div>
</div>

<div>
  <h2>Tracery code:</h2>
  <textarea class="traceryJson" ng-model="botPretty">
  </textarea>
  <p>Like this output? The code above can be used with <a href="http://cheapbotsdonequick.com/">Cheap Bots Done Quick</a> to create a Twitter bot that creates more instances like the pictures in the gallery.  Or, modify it to your liking!</p>
</div>
  
</div>
